---
transform:
  - job: fill_location
    description: Fill locations with 0
    source:
      from: nb.devices
      where: name__ic=local
      named_groups:
        hostname: ^(?P<host>(.*?))\.(?P<domain>(.*))
    destination:
      location.name: "__host@zfill(5)__.__domain__"
      location.location_type.name: ast
