---
transform:
  - job: name_to_upper
    description: change hostname to upper case
    source:
      from: nb.devices
      where: name__ic=local
      named_groups:
        name: ^(?P<name>(.*))
    destination:
      name: "__name|upper__"
