---
sot:
  nautobot: __nautobot_url__
  token: __nautobot_token__
  ssl_verify: __nautobot_ssl_verify__
general:
  logging:
    loglevel: info
    log_uuid_to: __logging_uuid_to__
    log_to_database: __logging_to_database__
    log_to_rabbitmq: __logging_to_rabbitmq__
    log_to_zeromq: __logging_to_zeromq__
    database:
      host: __logging_database_host__
      database: __logging_database_database__
      user: __logging_database_username__
      password: __logging_database_password__
      port: __logging_database_port__
    rabbitmq:
      host: __logging_rabbitmq_host__
      port: __logging_rabbitmq_port__
    zeromq:
      protocol: __logging_zeromq_protocol__
      host: __logging_zeromq_host__
      port: __logging_zeromq_port__
scan:
  privileged: False
  timeout: 1
  count: 1
addresses:
  namespace: Global
  status: {'name': 'Active'}
  description: __HOSTNAME__
  cf_last_scan: __DATE__
interface:
  name: 'primary'
  type: '1000base-t'
  enabled: True
  description: 'Primary Interface'
  status: {'name': 'Active'}
devices:
  default:
    status: {'name': 'Active'}
    name: __HOSTNAME__
    role: 'network'
    device_type: {'model': 'iosv'}
    location: {'name': 'default-site'}
