{% macro description(interface,config_context) %}
interface {{ interface.name }}
{% if interface.description | length > 1 %}
 description {{ interface.description }}
{%- else %}
 description {{ interface.name }}
{%- endif -%}
{%- endmacro %}