{%- macro configure_interface(interface, config_context) -%}
{%- for tag in interface.tags -%}
{%-   if 'ospf' in tag.slug -%}
{%-     if config_context["keys"]["ospf"] is defined -%}
{%-       if config_context["keys"]["ospf"]["authentication"] is defined %}
 ip ospf authentication {{ config_context["keys"]["ospf"]["authentication"] }}
 ip ospf message-digest-key 1 md5 7 {{ config_context["keys"]["ospf"]["md-key-7"] }}
{%        endif -%}
{%-     else %}
 ! OSPF without authentication configured
{%     endif -%}
{%-   endif -%}
{%  endfor %}
{%- endmacro -%}