{% macro switchport(interface,config_context) %}
 switchport
 switchport mode trunk
{% for vlan in interface.tagged_vlans -%}
{%   if vlan.name is defined %}
 switchport trunk allowed vlan add {{ vlan.name }}
{%   endif %}
{% endfor %}
{%- if interface.untagged_vlan is defined -%}
{%-   if interface.untagged_vlan.name is defined %}
 switchport trunk native vlan {{ interface.untagged_vlan.name }}
{%   endif %}
{% endif %}
{% endmacro %}