---
update:
  - job: update_device_property
    description: Set device property
    devices:
      select: name
      from: nb.devices
      where: name__ic=local
    tasks:
      - delete_tag:
          scope: dcim.device
          tag: test
      - add_tag:
          scope: dcim.device
          tag: test2
      - set_tag:
          scope: dcim.device
          tag: test
