---
update:
  - job: update_device_property
    description: Set device property
    source:
      select: name
      from: nb.devices
      where: name__ic=local
    tasks:
      - device_property:
          serial: my_new_serial
          status: {'name': 'Active'}
          custom_fields: {'net': 'my_net'}
