---
jobs:
  - job: export_properties
    description: export properties
    devices:
      sql:
        # the values of the select statement must correspond must include the columns you
        # want to export
        select: id, name, primary_ip4
        from: nb.devices
        where: name__ic=local
    tasks:
      - export: 
        - content: properties
          header: True
          columns: id, name, primary_ip4.address, primary_ip4.interfaces.name, checksum
          # columns: name, primary_ip4.address, interfaces.name, interfaces.ip_addresses.address, checksum
          # columns: interfaces.name, interfaces.description
          # columns: id, name, location.name, cf_net,cf_select, checksum
          # columns: name, interfaces.id, interfaces.name, interfaces.description,checksum
          format: excel
          # delimiter: ","
          # quotechar: "|"
          # quoting: minimal
          filename: ./export/properties.xlsx

  - job: export_config
    description: export configs, facts and properties
    devices:
      sql:
        select: id, name, platform, primary_ip4
        from: nb.devices
        where: name=lab.local
    tasks:
      - export: 
        # content can be either config, facts, hldm or properties
        - content: config, facts
          directory: configs

  - job: export_hldm
    description: export HLDM
    devices:
      sql:
        select: name
        from: nb.devices
        where: name=lab-01.local
    tasks:
      - export: 
        # content can be either config, facts, hldm or properties
        - content: hldm
          directory: hldm/__cf_net__/__location.name__
          filename: __name__.json

  - job: export_locations
    description: export locations
    devices:
      sql:
        # of course the selected colums must include the columns you export
        select: locations
        from: nb.general
        where: 
    tasks:
      - export: 
        - content: properties
          directory: ./configs
          header: True
          columns: name, status, checksum
          format: excel
          delimiter: ","
          quotechar: "|"
          quoting: minimal
          filename: ./export/locations.xlsx
