---
update:
  - job: update_location
    description: Update Location to A001....
    source:
      named_groups:
        hostname: ^(?P<alpha>(a|b|c))(?P<digits>\d+)\.
        device_type.model: ^(?P<model>(\w+))
    destination:
      location.name: __alpha____digits__
      location.location_type.name: branch
