{% if "secrets" in config_context -%}
enable secret {{ config_context["secrets"]["secret"]["level"] }} {{ config_context["secrets"]["secret"]["secret"] }}

{% for user in config_context["secrets"]["users"] %}
username {{ user["username"] }} privilege {{ user["privilege"] }} secret {{ user["password"] }}
{% endfor %}
{%- endif -%}
