{% if config_context.stp is defined -%}
{%   if config_context.stp.default is defined -%}
{%     if config_context.stp.default.mode is defined -%}
spanning-tree mode {{ config_context.stp.default.mode }}
{%     else -%}
! no spanning-tree mode configured
{%     endif -%}
{%     if config_context.stp.default.bpduguard is defined -%}
spanning-tree portfast edge bpduguard default
{%     else -%}
! no bpduguard configured
{%     endif -%}
{%     if config_context.stp.default.bpdufilter is defined -%}
spanning-tree portfast edge bpdufilter default
{%     else -%}
! no bpdufilter configured
{%     endif -%}
{%   endif -%}
{%   if config_context.stp.additional is defined -%}
{%     for config in config_context.stp.additional %}
{{ config }}
{%     endfor -%}
{%   endif -%}
{% endif %}