---
sot:
  nautobot: "__NAUTOBOT__"
  token: "__TOKEN__"
phpipam:
  backend:
    phpipam_url: __PHPIPAM_URL__
    phpipam_port: __PHPIPAM_PORT__
    phpipam_appid: __PHPIPAM_APPID__
    phpipam_username: __PHPIPAM_USER__
    phpipam_password: __PHPIPAM_PASSWORD__
    # set $api_allow_unsafe = true; in config.php to disable SSL
    phpipam_ssl_verify: false
sections:
  default_section: root
  select: cf_net
  section: cf_net~cf_net
  # groupID/permissions (group 2=> operator, group3 => Guest // 0 na, 1 ro, 2 rw, 3 rwa)
  permissions: '{"2":"3","3":"0"}'
  # if folders is set use this to create folder in sections
  folders: false
subnets:
  0.0.0.0/0:
    pingSubnet: 0
    discoverSubnet: 0
    showName: 0
  172.16.0.0/16:
    pingSubnet: 0
    discoverSubnet: 0
    showName: 0
  172.16.1.0/24:
    pingSubnet: 0
    discoverSubnet: 0
    showName: 0
    
logging:
  # set loglevel to your need (debug, info, error, critical)
  level: info
  format: "%(levelname)s - %(message)s"
  # use filename to write logging to a file
  # filename: out.log
  # if you want to write the result to a file use result: "filename" instead
  result: stdout
