---
sot:
  nautobot: "__NAUTOBOT__"
  token: "__TOKEN__"
phpipam:
  backend:
    phpipam_url: __PHPIPAM_URL__
    phpipam_port: __PHPIPAM_PORT__
    phpipam_appid: __PHPIPAM_APPID__
    phpipam_username: __PHPIPAM_USER__
    phpipam_password: __PHPIPAM_PASSWORD__
    # set $api_allow_unsafe = true; in config.php to disable SSL
    phpipam_ssl_verify: false
logging:
  # set loglevel to your need (debug, info, error, critical)
  level: info
  format: "%(levelname)s - %(message)s"
  # use filename to write logging to a file
  # filename: out.log
  # if you want to write the result to a file use result: "filename" instead
  result: stdout
