---
sot:
  nautobot: __nautobot_url__
  token: __nautobot_token__
  ssl_verify: __nautobot_ssl_verify__

rabbitmq:
  host: __rabbitmq_host__
  port: __rabbitmq_port__
  queue: __rabbitmq_queue__

general:
  logging:
    loglevel: info
    log_uuid_to: __logging_uuid_to__
    log_to_database: __logging_to_database__
    log_to_rabbitmq: __logging_to_rabbitmq__
    log_to_zeromq: __logging_to_zeromq__
    database:
      host: __logging_database_host__
      database: __logging_database_database__
      user: __logging_database_username__
      password: __logging_database_password__
      port: __logging_database_port__
    rabbitmq:
      host: __logging_rabbitmq_host__
      port: __logging_rabbitmq_port__
    zeromq:
      protocol: __logging_zeromq_protocol__
      host: __logging_zeromq_host__
      port: __logging_zeromq_port__

plugins:
  # there is a default offline offline_importer
  # you can implement your own and add the name to the list of plugins
  backup:
    plugin_dir: plugins
    plugin: backup

git:
  backup:
    repo: __git_backup_repo__
    path: __git_backup_path__
