---
# default logins to connect to the devices
# Even if the password is encrypted, you should use this function with caution.
#
# DO NOT USE THIS FEATURE IN PRUDUCTION THERE ARE BETTER SOLUTIONS OUT THERE
#
profiles:
  default:
      # username to login to devices
      username: __profile_username__
      # encrypted and base64 encoded password
      password: __profile_password__
  server:
      # username to login to devices
      username: __profile_server_username__
      # the SSH key to use
      ssh_keyfile: __profile_server_ssh_keyfile__
      # encrypted and base64 encoded passphrase
      ssh_key_passphrase: __profile_server_ssh_passphrase__
