---
sot:
  nautobot: "__NAUTOBOT__"
  token: "__TOKEN__"
  ssl_verify: false
git:
  defaults:
    repo: __DEFAULTS_REPO__
    path: __DEFAULTS_PATH__
    filename: __DEFAULTS_FILENAME__
  backups:
    repo: __BACKUP_REPO__
    path: __BACKUP_PATH__
  app_configs:
    repo: __CONFIGS_REPO__
    path: __CONFIGS_PATH__
  config_contexts:
    repo: __CONFIG_CONTEXT_REPO__
    path: __CONFIG_CONTEXT_PATH__

directories:
  # directory to write configs and facts
  export: export

general:
  logging:
    loglevel: info
    logtodatabase: false
    logtozeromq: false
    database:
      host: __database_host__
      database: __database_datbase__
      user: __database_username__
      password: __database_password__
      port: __database_port__
    zeromq:
      protocol: __zeromq_protocol__
      host: __zeromq_host__
      port: __zeromq_port__

onboarding:
  defaults:
    # the default primary interface we use to get the primary address
    # the order is important
    interface:
      - Loopback0
      - Loopback100
      - mgmt0
      - Vlan10
  mappings:
    # loading mapping from app config (see above)
    inventory:
      filename: inventory.yaml
  inventory:
    csv:
      delimiter: ","
      quotechar: "|"
      quoting: minimal
      newline: ''
  offline_config:
    model: unknown
    serial: offline
    platform: ios
    primary_interface: Loopback100
    primary_mask: 255.255.255.255
    primary_description: Primary
    filename: ./conf/offline.conf
