---
host_tag_groups:
  - group:
      ident: net
      title: net
      topic: net
      help: net
      tags:
        - ident: net_1
          title: net_1
        - ident: net_2
          title: net_2
  - group:
      ident: tag2
      title: tag2
      topic: tag2
      help: tag2
      tags:
        - ident: tag2_1
          title: tag2_1
        - ident: tag2_2
          title: tag2_2
folders:
  - name: folder_1
    title: folder_1
    parent: /
    attributes:
      - tag_criticality: prod
  - name: folder_2
    title: folder_2
    parent: ~folder_1
