---
jobs:
  # - id: backup devices
  #   job: simple_config_backup
  #   schedule: "0 1 * * *"
  #   preprocessing: preprocessing_backup
  #   arguments:
  #     where: name=lab.local
  #     # if sot is set to true the preprocessing get the sot object in kwargs
  #     sot: True
  #     exclude:
  #       # devices is a list of hostnames to exclude
  #       devices: ['labx.local']
  #       # pattern is a list of pattern to exclude
  #       pattern: ['.*xx']

  # - id: backup devices using nornir
  #   job: nornir_config_backup
  #   schedule: "0 1 * * *"
  #   arguments:
  #     where: name=lab.local

  # - id: retry failed backups
  #   job: simple_config_backup
  #   schedule: "0 1 * * *"
  #   preprocessing: get_failed_backups
  #   arguments:
  #     # if sot is set to true the preprocessing get the sot object in kwargs
  #     sot: True

  # - id: summarize backup jobs
  #   job: summarize_backups
  #   schedule: "0 1 * * *"
  #   arguments:
  #     period: this_week
