---
jobs:
  # - id: backup devices
  #   job: simple_config_backup
  #   schedule: every(2).seconds
  #   preprocessing: preprocessing_backup
  #   arguments:
  #     where: name=lab.local
  #     # if sot is set to true the preprocessing get the sot object in kwargs
  #     sot: True
  #     exclude:
  #       # devices is a list of hostnames to exclude
  #       devices: ['labx.local']
  #       # pattern is a list of pattern to exclude
  #       pattern: ['.*xx']
  # - id: backup devices using nornir
  #   job: nornir_config_backup
  #   schedule: every(2).seconds
  #   arguments:
  #     where: name=lab.local
  - id: summarize backup jobs
    job: summarize_backups
    schedule: every(2).seconds
    arguments:
      period: this_week
  
