---
sot:
  nautobot: __nautobot_url__
  token: __nautobot_token__
  ssl_verify: __nautobot_ssl_verify__
general:
  logging:
    loglevel: info
    log_uuid_to: __logging_uuid_to__
    log_to_database: __logging_to_database__
    log_to_rabbitmq: __logging_to_rabbitmq__
    log_to_zeromq: __logging_to_zeromq__
    database:
      host: __logging_database_host__
      database: __logging_database_database__
      user: __logging_database_username__
      password: __logging_database_password__
      port: __logging_database_port__
    rabbitmq:
      host: __logging_rabbitmq_host__
      port: __logging_rabbitmq_port__
    zeromq:
      protocol: __logging_zeromq_protocol__
      host: __logging_zeromq_host__
      port: __logging_zeromq_port__
files:
  prefixes:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: prefixes.yaml
  defaults:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: default_values.yaml
  sites:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: sites.yaml
  manufacturers:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: manufacturers.yaml
  platforms:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: platforms.yaml
  roles:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: roles.yaml
  device_types:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: device_types.yaml
  location_types:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: defaults/location_types.yaml
  locations:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    # you can either use yaml or xlsx files
    filename: locations.yaml
  tags:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: tags.yaml
  custom_fields:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: custom_fields.yaml
  custom_links:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: custom_links.yaml
  custom_field_choices:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: custom_fields.yaml
  webhooks:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: webhooks.yaml
device_library:
  directory: /path/to/device_types/library/
country_library:
  # source eg https://raw.githubusercontent.com/bhatvikrant/world-countries-capitals/master/data/data.json
  directory: /path/to/countries/library/all_countries.json
