---
sot:
  nautobot: "__NAUTOBOT__"
  token: "__TOKEN__"
  ssl_verify: false
general:
  logging:
    loglevel: info
    logtodatabase: false
    logtozeromq: false
    database:
      host: __database_host__
      database: __database_datbase__
      user: __database_username__
      password: __database_password__
      port: __database_port__
    zeromq:
      protocol: __zeromq_protocol__
      host: __zeromq_host__
      port: __zeromq_port__
# default logins to connect to the devices
# these accounts are not stored in nautobot
profiles:
  default:
      # username to login to devices
      username: "__USERNAME__"
      # encrypted and base64 encoded password
      password: "__PASSWORD__"
