---
sot:
  nautobot: "__NAUTOBOT__"
  token: "__TOKEN__"
  ssl_verify: false
importer:
  logging:
    # set loglevel to your need (debug, info, error, critical)
    level: __LOGLEVEL__
    format: "%(levelname)s - %(message)s"
    # use filename to write logging to a file
    # filename: out.log
    # if you want to write the result to a file use result: "filename" instead
    result: stdout
# default logins to connect to the devices
# these accounts are not stored in nautobot
profiles:
  default:
      # username to login to devices
      username: "__USERNAME__"
      # encrypted and base64 encoded password
      password: "__PASSWORD__"
