---
sot:
  nautobot: "__NAUTOBOT__"
  token: "__TOKEN__"
  ssl_verify: false
general:
  logging:
    loglevel: info
    logtodatabase: false
    logtozeromq: false
    database:
      host: __database_host__
      database: __database_datbase__
      user: __database_username__
      password: __database_password__
      port: __database_port__
    zeromq:
      protocol: __zeromq_protocol__
      host: __zeromq_host__
      port: __zeromq_port__
defaults:
  import:
    delimiter: ","
    quotechar: "|"
    quoting: minimal
    primary_interface: Management0/0
# mappings are used to map column names to SOT names
mappings:
  export:
    device_id: id
    primary_ip: primary_ip4__address
    interface_name: interfaces__name
    interface_address: interfaces__ip_addresses__address
  import:
    myField: cf_field
