---
sot:
  nautobot: __nautobot_url__
  token: __nautobot_token__
  ssl_verify: __nautobot_ssl_verify__

general:
  logging:
    loglevel: info
    log_uuid_to: __logging_uuid_to__
    log_to_database: __logging_to_database__
    log_to_rabbitmq: __logging_to_rabbitmq__
    log_to_zeromq: __logging_to_zeromq__
    database:
      host: __logging_database_host__
      database: __logging_database_database__
      user: __logging_database_username__
      password: __logging_database_password__
      port: __logging_database_port__
    rabbitmq:
      host: __logging_rabbitmq_host__
      port: __logging_rabbitmq_port__
    zeromq:
      protocol: __logging_zeromq_protocol__
      host: __logging_zeromq_host__
      port: __logging_zeromq_port__

plugins:
  configparser:
    plugin_dir: __onboarding_plugins_configparser_dir__
    plugin: __onboarding_plugins_configparser_plugin__
  business_logic_device:
    plugin_dir: __onboarding_plugins_business_logic_device_dir__
    plugin: __onboarding_plugins_business_logic_device_plugin__
  business_logic_interface:
    plugin_dir: __onboarding_plugins_business_logic_interface_dir__
    plugin: __onboarding_plugins_business_logic_interface_plugin__
  # here you can add your own plugins
  #linuxserver_get:
  #  plugin_dir: plugins
  #  plugin: linuxserver_config_and_facts
  #linuxserver_parse:
  #  plugin_dir: plugins
  #  plugin: linuxserver_configparser

git:
  defaults:
    repo: __git_defaults_repo__
    path: __git_defaults_path__
    filename: __git_defaults_filename__
  app_configs:
    repo: __git_app_config_repo__
    path: __git_app_config_path__
  config_contexts:
    repo: __git_config_context_repo__
    path: __git_config_context_path__

directories:
  # directory to write configs and facts
  export: export

onboarding:
  defaults:
    # the default primary interface we use to get the primary address
    # the order is important
    interface: __onboarding_default_interfaces__
  mappings:
    # loading mapping from app config (see above)
    inventory:
      filename: inventory_mapping.yaml
  inventory:
    csv:
      delimiter: ","
      quotechar: "|"
      quoting: minimal
      newline: ''
  offline_config:
    model: unknown
    serial: offline
    platform: ios
    primary_interface: Loopback100
    primary_mask: 255.255.255.255
    primary_description: Primary
    filename: ./conf/offline.conf
